.banner{

    width: 100%;
    height: 500px;
    background-position: top;
    background-repeat: no-repeat;
    background-image: url('images/banner.png')
    


}
body{

    background-color: blue;
    text-align: center;


}
h1{

    
    
    

    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: yellow;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-decoration: underline;
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3{
    color: yellow;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.CARD{

    width: 315px;
    height: 400px;
    display: inline-block;
    border: 2px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: auto;
}


.CARD img{
    width: 100%;
    height: 50%;
}